body {
    font-family: sans-serif;
    color: rgb(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top:15%;
    background: linear-gradient(to right, red, yellow);
}

h1 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 3.5em;
    color: rgb(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 3.5em;
    color: rgb(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}